{
  "plugins": ["prettier-plugin-astro"],
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
